@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

:root {
	--font-family: "Fredoka", sans-serif;
	--bg-main: #ffffff;
	--text-main: #333333;

	--btn-bg: #78c850;
	--btn-bg-hover: #6ab144;
	--btn-bg-active: #4e8f33;
	--btn-border: #3e7030;
	--btn-shadow: #a3d977;
	--btn-shadow-inset: #c6efad;

	--correct-bg: #b2f2bb;
	--correct-border: #2b8a3e;
	--correct-text: #1b4332;

	--wrong-bg: #ffa8a8;
	--wrong-border: #e03131;
	--wrong-text: #7d2020;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100dvh;
	min-height: 100dvh;
	font-family: var(--font-family);
	background: var(--bg-main);
	color: var(--text-main);
	user-select: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	height: 100%;
	max-height: 100dvh;
	width: 100%;
	padding: 24px;
}

h2 {
	text-align: center;
	text-shadow: 1px 1px 0 #f3e6d9;
}

.btn-bottom {
	display: flex;
	justify-content: center;
	align-items: end;
	gap: 12px;
	margin-top: auto;
	margin-bottom: 24px;
}

.fade {
	height: 100%;
	width: 100%;
	animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
